@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@theme {
  --color-global-1: #F8FAFC;
  --color-global-2: #F1F5F9;
  --color-global-3: #E2E8F0;
  --color-global-4: #CBD5E1;
  --color-global-5: #94A3B8;
  --color-global-6: #64748B;
  --color-global-7: #475569;
  --color-global-8: #334155;
  --color-global-9: #1E293B;
  --color-global-10: #0F172A;
  --color-global-11: #FFFFFF;
  --color-global-12: #084D9D;

  --color-button-background1: #F07F44;
  --color-button-background1Hover: #E06D32;

  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

@layer components {
  .nav-link-base {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition: opacity 0.2s ease-in-out;
  }
  .nav-link-base:hover { opacity: .8; }
  @media (min-width: 768px) {
    .nav-link-base { font-size: 1rem; line-height: 1.5rem; }
  }
  .nav-link-default { color: #625b71e5; }
  .nav-link-active { color: #F07F44; font-weight: 600; }
  .nav-link-register { text-decoration: underline; color: #625b71bf; }
}
